@tailwind base;
@tailwind components;
@tailwind utilities;


.fade-in {
  animation: fadeIn .3s;
}

.fade-out {
  animation: fadeOut .3s;
}

.pulse {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeOut {
  0% {
    opaci1y:0;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}



@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.expanded-list-words {
  min-height: 50vh;
  width: calc(50% - 3vw);
}

.slide-in-text {
  animation: slide-in .15s linear;
}

.slide-out-text {
  animation: slide-out .05s linear;
}

.slide-up {
  animation: slide-up .15s linear;
}

@keyframes slide-up {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}

.points {
  animation: moving-msg 1s linear;
}
@keyframes moving-msg {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(-5%);
  }
}

.message {
  animation: moving-msg 1s linear;
}

@keyframes moving-msg {
  from {
    transform: translateY(25%);
  }
  to {
    transform: translateY(0%);
  }
}
@media (max-width: 767px) {
.hex:active .hex-middle {
  background-color: rgb(228 228 231);
}
.hex:active .hex-top {
  border-right: calc(.75 * 30px) solid rgb(228 228 231);
  border-top: calc(.75 * 52px) solid transparent;
  border-bottom: calc(.75 * 52px) solid transparent;
}
.hex:active .hex-bottom {
  border-left: calc(.75 * 30px) solid rgb(228 228 231);
  border-top: calc(.75 * 52px) solid transparent;
  border-bottom: calc(.75 * 52px) solid transparent;
}

.hex {
  float: left;
  margin-right: -12px;
  margin-left: -5px;
  margin-bottom: -57px;
}
.hex-top { /* Left side triangle of each gray hex */
  float: left;
  width: 0;
  border-right: calc(30px * .75) solid rgb(228 228 231);
  border-top: calc(.75*52px) solid transparent;
  border-bottom: calc(.75*52px) solid transparent;
}
.hex-middle { /* Middle rectangle of each gray hex */
  float: left;
  width: calc(60px * .75);
  height: calc(104px * .75);
}
.hex-bottom { /* Right side triangle of each gray hex */
  float: left;
  width: 0;
  border-left: calc(.75 * 30px) solid rgb(228 228 231);
  border-top: calc(.75 * 52px) solid transparent;
  border-bottom: calc(.75 * 52px) solid transparent;
}
.hex-row {
  clear: left;
}

.center-top {
  float: left;
  width: 0;
  border-right: calc(.75 * 30px) solid rgb(253 224 71);
  border-top: calc(.75 * 52px) solid transparent;
  border-bottom: calc(.75 * 52px) solid transparent;
}
.hex-center {
  float: left;
  width: calc(.75 * 60px);
  height: calc(.75 * 104px);
}
.center-bottom {
  float: left;
  width: 0;
  border-left: calc(.75 * 30px) solid rgb(253 224 71);
  border-top: calc(.75 * 52px) solid transparent;
  border-bottom: calc(.75 * 52px) solid transparent;
}
}

@media (min-width: 768px) {
  .hex:active .hex-middle {
    background-color: rgb(228 228 231);
  }
  .hex:active .hex-top {
    border-right: 30px solid rgb(228 228 231);
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
  }
  .hex:active .hex-bottom {
    border-left: 30px solid rgb(228 228 231);
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
  }
  
  .hex {
    float: left;
    margin-right: -25px;
    margin-bottom: -58px;
  }
  .hex-top {
    float: left;
    width: 0;
    border-right: 30px solid rgb(228 228 231);
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
  }
  .hex-middle {
    float: left;
    width: 60px;
    height: 104px;
  }
  .hex-bottom {
    float: left;
    width: 0;
    border-left: 30px solid rgb(228 228 231);
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
  }
  .hex-row {
    clear: left;
  }
  
  .center-top {
    float: left;
    width: 0;
    border-right: 30px solid rgb(253 224 71);
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
  }
  .hex-center {
    float: left;
    width: 60px;
    height: 104px;
  }
  .center-bottom {
    float: left;
    width: 0;
    border-left: 30px solid rgb(253 224 71);
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
  }
}

.cursor{
  overflow:hidden;
  animation:blink 1s steps(2,start) infinite
}
@keyframes blink{from,to{color:transparent}0%{color:rgb(234 179 8)}}
